/* Aca va a ir mi codigo css o mis estilos */
/* Reseteando o quitando los estilos por defecto de estas 3 propiedes */


* { /* Selector Universal */
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}


/* MODIFICADORES DE TEXTO*/

.mayusculas {
    text-transform: uppercase;
}

.fuente-1{
    text-decoration: none;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    color: #9b7408;
    
}
.fuente-2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: hsl(45, 28%, 48%);
}

.title-font-size{
    font-size: 24px;
}

.unbold{
    font-weight: lighter;
}

.alineacion{
    text-align: right;
}

.alineacion-c{
    text-align: center;
}


/* MODIFICADORES DE SLOGAN */

.slogan{
    font-size: 56px;
    text-align: center;
    color: yellow;
}

/* MODIFICADORES DE NAV */

.nav{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: #000 solid 1px;
}

.nav__lista {
    list-style: none;
    display: flex;
}

.nav__item {
    font-size: 32px;
    margin-left: 16px;
    text-shadow: rgb(88, 87, 87) 2px 2px 8px;
    padding: 14px;
    text-decoration: none;
}

.nav__item a:hover {
    color: rgb(168, 44, 44);
}

.nav__item--oculto{
    display: none;
}

.nav__menu{
    width: 16px;
    height: 16px;
    text-decoration: none;
    color: yellow;
}

.nav__menu--oculto{
    display: none;
}

.header{
    position: fixed;
    width: 100%;
    margin-bottom: 1px;
    z-index: 1000;
    background-color: black;
    /* background: rgb(246,255,27);
    background: linear-gradient(162deg, rgba(246,255,27,1) 0%, rgba(255,255,235,0.10407913165266103) 40%, rgba(246,255,27,1) 100%); */
}

.header-sep{
    padding-top: 137px;
    min-height: 100vh;
    background: rgb(246,255,27);
    background: linear-gradient(162deg, rgba(246,255,27,1) 0%, rgba(255,255,235,0.10407913165266103) 40%, rgba(246,255,27,1) 100%);
}

.iconDetails{
    float: left;
    margin-left: 1%;
    display: block;
    width: 100px;
    height: 100px;
    margin-top: 1%;
    position: absolute;
}

.title__ubicacion{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* ARRANCA EL MAIN*/

/*VIDEO*/
.video{
    width: 100%;
    height: 75%;
}

/* TARJETAS */

.card {
    background-color: transparent;
    color: #000;
    width: 100%; /* Unidades que suelo utiliza son porcentaje o pixeles */
    height: 100%; /* Unidades que suelo utiliza son porcentaje o pixeles o Viewport */
    padding: 1px 1px 1px 1px; /* Arriba, Derecha, Abajo y Izquierda */
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-top: #000 1px solid;
}

.card__orden--inv{
    order: -1;
}

.alineacion-img{
    float: right;
    display: flex;
    width: 50%;
    height: 80%;
}

.card__titulo {
    text-align: center;
    font-size: 28px;
    text-transform: uppercase;
}

.card__texto {
    text-align: center;
    font-size: 18px;
}

/*FOOTER*/

.footer{
    display: flex;
    justify-content: space-around;
    vertical-align: middle;
    align-items: center;
    background-color: #000;
}

.footer__texto {
    font-size: 18px;
    color: #cdd89f;
}

.redes{
    display: flex;
    bottom: 2rem;
    right: 6rem;


}

.redes a{
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}


/* ---------------------- MENUS -------------------------*/

.imagen__menu{
    width: 200px;
    height: 200px;
}

/* ---------------------- MAPAS -------------------------*/

.mapas{
    width: 400px;
    height: 400px;
    border-radius: 50%;
}

.mapas__titulo {
    text-transform: capitalize;
    text-shadow: rgb(88, 87, 87) 2px 2px 8px;
    font-size: 28px;
    letter-spacing: 2px;
}

.grid__mapas{
    display: grid;
    grid-template-areas:
    "mapa1 mapa2"
    "mapa3 mapa4";
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.grid__mapas--1 {
    grid-area: mapa1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: #000 solid;
    border-radius: 4%;
    padding: 20px;
    margin: 20px;

 }
 .grid__mapas--2 {
    grid-area: mapa2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: #000 solid;
    border-radius: 4%;
    padding: 20px;
    margin: 20px;

 }
 .grid__mapas--3 {
    grid-area: mapa3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: #000 solid;
    border-radius: 4%;
    padding: 20px;
    margin: 20px;

 }
 .grid__mapas--4 {
    grid-area: mapa4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: #000 solid;
    border-radius: 4%;
    padding: 20px;
    margin: 20px;

 }


/*--------- RESPONSIVE---------*/

/* Movil */
@media screen and (max-width: 420px) {

    /*------NAV--------*/

    .fullnav{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        gap: 150px;
    }



    .slogan{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        font-size: 24px;
        /* padding-bottom: 5rem; */
        width: 40%;
        padding: 24px;
        text-align: left;
    
    }

    .nav{
        display: none;
        background-color: #8ea71f;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1000000;
        width: 80%;
        height: 100vh;
        text-decoration: none;
        border-right: #000 solid 2px;
    }

    .nav:target{
        display: block;
    }

    .nav__lista{
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 1rem;
        height: 100%;
        text-decoration: none;
    }

    .nav__menu--oculto{
        display: block;
    }

    .nav__item--oculto{
        display: block;
    }

    .title__ubicacion{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    /*-----------INDEX------------*/

    .header-sep{
        padding-top: 103px;
    }

    .video{
        width: 100%;
        height: 300px;
    }

    .card{
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;

    }

    .card__titulo{
        font-size: 24px;
    }

    /*----- MAPAS-----*/

    .grid__mapas {
        padding-bottom: 16rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 200px);
        grid-template-areas:
        "mapa1"
        "mapa2"
        "mapa3"
        "mapa4";
        align-content: space-between;
        height: 1700px;

    }
    .mapas{
        width: 380px;
        height: 380px;
        border-radius: 50%;
    }

    .grid__mapas--1 {
        grid-area: mapa1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: #000 solid;
        border-radius: 4%;
        padding: 20px;
        margin: 10px;
        width: 400px;
        height: 400px;
 

     }
     .grid__mapas--2 {
        grid-area: mapa2;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: #000 solid;
        border-radius: 4%;
        padding: 20px;
        margin: 10px;
        width: 400px;
        height: 400px;
     }
     .grid__mapas--3 {
        grid-area: mapa3;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: #000 solid;
        border-radius: 4%;
        padding: 20px;
        margin: 10px;
        width: 400px;
        height: 400px;
 
     }
     .grid__mapas--4 {
        grid-area: mapa4;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: #000 solid;
        border-radius: 4%;
        padding: 20px;
        margin: 10px;
        width: 400px;
        height: 400px;
    
     }

     /*------FOOTER-------*/
     .footer{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        vertical-align: middle;
        align-items: center;
        background-color: #000;
    }



}