/*----------ANIMACIONES--------*/

@keyframes pasillo{
    0%{
        text-shadow:
        0 0 5px rgba(0, 179, 255, 0.103),
        0 0 10px rgba(0,178,255,0.103),
        0 0 20px rgba(0,178,255,0.103),
        0 0 40px rgba(38,104,127,0.103),
        0 0 80px rgba(38,104,127,0.103),
        0 0 90px rgba(38,104,127,0.103),
        0 0 100px rgba(38,104,127,0.103),
        0 0 140px rgba(38,104,127,0.103),
        0 0 180px rgba(38,104,127,0.103);
    
    }
    12%{
        text-shadow:
        0 0 5px rgba(0, 179, 255, 0.308),
        0 0 10px rgba(0,178,255,0.308),
        0 0 20px rgba(0,178,255,0.308),
        0 0 40px rgba(38,104,127,0.308),
        0 0 80px rgba(38,104,127,0.308),
        0 0 90px rgba(38,104,127,0.308),
        0 0 100px rgba(38,104,127,0.308),
        0 0 140px rgba(38,104,127,0.308),
        0 0 180px rgba(38,104,127,0.308);
    
    }
    25%{
        text-shadow:
        0 0 5px rgba(0, 179, 255, 0.623),
        0 0 10px rgba(0,178,255,0.623),
        0 0 20px rgba(0,178,255,0.623),
        0 0 40px rgba(38,104,127,0.623),
        0 0 80px rgba(38,104,127,0.623),
        0 0 90px rgba(38,104,127,0.623),
        0 0 100px rgba(38,104,127,0.623),
        0 0 140px rgba(38,104,127,0.623),
        0 0 180px rgba(38,104,127,0.623);
    
    }
    38%{
        text-shadow:
        0 0 5px rgba(0, 179, 255, 0.808),
        0 0 10px rgba(0,178,255,0.808),
        0 0 20px rgba(0,178,255,0.808),
        0 0 40px rgba(38,104,127,0.808),
        0 0 80px rgba(38,104,127,0.808),
        0 0 90px rgba(38,104,127,0.808),
        0 0 100px rgba(38,104,127,0.808),
        0 0 140px rgba(38,104,127,0.808),
        0 0 180px rgba(38,104,127,0.808);
    
    }
    50%{
        text-shadow:
        0 0 5px rgba(0, 179, 255, 1),
        0 0 10px rgba(0,178,255,1),
        0 0 20px rgba(0,178,255,1),
        0 0 40px rgba(38,104,127,1),
        0 0 80px rgba(38,104,127,1),
        0 0 90px rgba(38,104,127,1),
        0 0 100px rgba(38,104,127,1),
        0 0 140px rgba(38,104,127,1),
        0 0 180px rgba(38,104,127,1);
    
    }
    62%{
        text-shadow:
        0 0 5px rgba(0, 179, 255, 0.808),
    0 0 10px rgba(0,178,255,0.808),
    0 0 20px rgba(0,178,255,0.808),
    0 0 40px rgba(38,104,127,0.808),
    0 0 80px rgba(38,104,127,0.808),
    0 0 90px rgba(38,104,127,0.808),
    0 0 100px rgba(38,104,127,0.808),
    0 0 140px rgba(38,104,127,0.808),
    0 0 180px rgba(38,104,127,0.808);
    
    }
    75%{
        text-shadow:
        0 0 5px rgba(0, 179, 255, 0.623),
        0 0 10px rgba(0,178,255,0.623),
        0 0 20px rgba(0,178,255,0.623),
        0 0 40px rgba(38,104,127,0.623),
        0 0 80px rgba(38,104,127,0.623),
        0 0 90px rgba(38,104,127,0.623),
        0 0 100px rgba(38,104,127,0.623),
        0 0 140px rgba(38,104,127,0.623),
        0 0 180px rgba(38,104,127,0.623);
    
    }
    88%{
        text-shadow:
    0 0 5px rgba(0, 179, 255, 0.308),
    0 0 10px rgba(0,178,255,0.308),
    0 0 20px rgba(0,178,255,0.308),
    0 0 40px rgba(38,104,127,0.308),
    0 0 80px rgba(38,104,127,0.308),
    0 0 90px rgba(38,104,127,0.308),
    0 0 100px rgba(38,104,127,0.308),
    0 0 140px rgba(38,104,127,0.308),
    0 0 180px rgba(38,104,127,0.308);
    
    }
    100%{
        text-shadow:
    0 0 5px rgba(0, 179, 255, 0.103),
    0 0 10px rgba(0,178,255,0.103),
    0 0 20px rgba(0,178,255,0.103),
    0 0 40px rgba(38,104,127,0.103),
    0 0 80px rgba(38,104,127,0.103),
    0 0 90px rgba(38,104,127,0.103),
    0 0 100px rgba(38,104,127,0.103),
    0 0 140px rgba(38,104,127,0.103),
    0 0 180px rgba(38,104,127,0.103);
    
    }
}

