/* ---------------------- MENUS -------------------------*/
@import "./variables.scss";

.imagen__menu{
    width: $anchoFoto;
    height: $altoFoto;
    gap: 2px;
}

.acordetalle{
    color: yellow;
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.tablaitem{
    gap: 200px;
    padding: 200px;
}