/* ---------------------- MENUS -------------------------*/
$anchoFoto: 200px;
$altoFoto: 200px;
.imagen__menu{
    width: $anchoFoto;
    height: $altoFoto;
}
.acordetalle{
    color: yellow;
    background-color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}