/*-----------------------------CONTACTANOS------------------------------*/
@import "./variables.scss";

.nombre-pag{
    text-align: center;
    padding-top: 2rem;
    font-size: $sizeFont;

}

.reserva{
    padding-left: 2rem;
    font-size: ($sizeFont)-8px;
}

.formulario{
    padding-left: 4rem;
    padding-top: 2rem;
}

.formulario__espacios{
    display: flex;
    flex-direction: column;
    width: $anchoForm;
    height: $altoForm;
    justify-content: space-around;
}
